*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

p{
  color: rgb(203, 203, 203);
  font-family: 'Oswald', sans-serif;
}

body {
	font-size: 100%;
	background: rgb(41,52,55);
	background: linear-gradient(90deg, rgba(41,52,55,1) 28%, rgba(35,43,46,1) 44%, rgba(32,39,42,1) 65%, rgba(25,28,31,1) 81%); 
	user-select: none;

}

.cabecalho {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 24px;
}

.cabecalho-menu {
	display: flex;
}

.sobre-mim {
	font-weight: 400;
	font-size: 28px;
}

.mid{
	font-weight: 200;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around 24px;
	padding: 18px;
}

.contatos-tl{
  margin-left: 10px;
}

.txt{
	font-weight: 200;
	font-size: 18px;
	display: 40px;
	flex-direction: row;
	align-items: center;
	padding: 30px;
}
.hobbys{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 24px;
  font-weight: 400;
	font-size: 28px;
}
